---
# Main sass file for the blog
---
@import "compass/utilities";
@import "compass/reset-legacy";
@import 'compass/typography';
@import "compass/css3";

@import "custom/layout";
@import "base";
@import "partials";

@import "custom/syntax";

#content {
  .blog-index {
    a[rel=full-article]{
      padding: 0 .8em;
      line-height: normal;
    }
  }
}
.footnotes {
  ol{
    margin-top: 1em;
  }
  ol:before {
  content: "Notes";
  @extend .heading;
  font-size: 1.5em;
  font-family: $header-title-font-family;
  font-weight: normal;
  }
}
.lang{
  background-repeat: no-repeat;
  background-position: 0 3px;
  padding-left: 30px;
  background-size: 20px 13px;
}
header, #recent_posts, #blog-archives {
  .lang-en{
    background-image: url(../images/langs/en.svg);
    @extend .lang;
  }
  .lang-fr{
    background-image: url(../images/langs/fr.svg);
    @extend .lang;
  }
}
#blog-archives{
  time{
    margin-left: -10px;
  }
}
.highlighter-rouge{
  font-size: small;
}
.highlight{
    color: #93a1a1;
}
